div#productSlider {
    width: 800px;
    margin: 100px auto;
    display: flex;
    align-items: center;
}
div#leftArrow,
div#rightArrow {
    width: 100px;
    text-align: center;
}
div#productWindow {
    overflow: hidden;
    width: 600px;
}
div#productList {
    width: 2000px;
    display: flex;
    position: relative;
    left: 0px;
    transition: all 0.5s ease-out
}
div#product {
    width: 200px;
    text-align: center;
}